body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.contact-information .address .link,
.section-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-information {
  font-style: normal;
}

.contact-information .address .link:hover,
.address .link:focus {
  color: #404bbf;
}

.logo-header {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
}

.logo-header span {
  color: #2e2f42;
}

.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
}

.logo-footer .studio {
  color: #f4f4fd;
}

.page-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.section-our-team .team-card .card-name,
section .list .qualities,
section .list-header {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  color: #2e2f42;
}

footer,
.main-section {
  background-color: #2e2f42;
}

.team,
.portfolio {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-our-team {
  background-color: #f4f4fd;
}

.section-our-team .team-card {
  background-color: #ffffff;
}
